@font-face {
  font-family: "Vogue";
  src: url("../fonts/Vogue.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/OPTIFutura Demibold It.ttf");
}

@font-face {
  font-family: "FuturaNit";
  src: url("../fonts/OPTIFuturaDemiBold.otf");
}

@font-face {
  font-family: "FuturaLight";
  src: url("../fonts/SansSerifFLF.otf");
}

section.top-page {
    /* background-size: cover; */
    height: 100vh;
    padding: 25px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
  section.top-page {
    background: url('../images/cover/cover-assistant-real-tel.jpg') center;
    background-size: cover;
  }
}


@media (min-width: 900px) {
  section.top-page {
    background: url('../images/cover/cover-assistant-real.jpg') center;
    background-size: cover;
  }
}

/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  /* background: #16384c; */
  font-family: "FuturaNit";
  font-size: 10px;
  color: #000;
  margin: 0;
  padding: 0;
  background: url("../images/ass-real/texture-marbre.jpg") no-repeat;
  background-size: cover;
}

.swiper .swiper-slide .card .card-content h2{
  font-family: "Futura";
  font-size: 0.8em;
}

.swiper .swiper-slide .card .card-content p{
  font-family: "FuturaNit";
  font-size: 0.8em;
}

.swiper {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 22vh;
  margin-bottom: 50px;

  /* background: url("../images/ass-real/texture-marbre.jpg") center; */

  /* background: #bdc3c7; 
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
  background: linear-gradient(to right, #2c3e50, #bdc3c7); */
  
}

.mySwiper{
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: red; */
}

.swiper-wraper{
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-slide {
  background-position: center;
  width: 27vw;
  height: 27vw;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition : 0.3s ease-in-out;
}

.swiper-slide img {
  object-fit: cover;
  display: block;
  width: 100%;
}

.swiper-slide .card {

  position:relative;
  display: flex;
  width: 100%;
  background: white;
  /* background: url("../images/ass-real/background-card.png"); */
  background-size: cover;
  /* border-radius: 10px; */
  flex-direction: column;
  padding: 15px 15px;
  transition : 0.7s ease-in-out;
  max-height: 27vw;
  transition-delay: 0.2s;
  /* border : 2px solid black; */
}

.swiper-slide .active-slide{
  /* background-color: red; */
  max-height: 40vw;
  transition : 0.3s ease-in-out;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

/* .swiper-slide .card:hover{
  max-height: 40vw;
  transition : 0.3s ease-in-out;
  transition-delay: 0s;
} */

/* .swiper-slide:hover{
  width : 30vw;
  max-height: 30vw;
} */

.swiper-slide .card .card-content{
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition : 0.3s ease-in-out;
  transition-delay : 0s;
}

.swiper-slide .active-slide .card-content{
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
  transition : 0.3s ease-in-out;
  transition-delay : 0.3s;
}

/* .swiper-slide .card:hover .card-content{
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
} */

.swiper-slide .card img{
  /* background-size: cover; */
  width : 100%;
  /* height: 30vw; */
  position : relative;
  z-index : 1;
}

.swiper .swiper-slide .card .card-content h2{
  font-family: "Futura";
  font-size: 0.8em;
}

.swiper .swiper-slide .card .card-content p{
  font-family: "FuturaLight";
  font-size: 0.8em;
}

@media (max-width: 950px) {
  .swiper-slide {
    width: 70vw;
    height: 70vw;
  }

  .swiper-slide .card {
    max-height: 60vw;
  }

  .swiper-slide .active-slide{
    max-height: 100vw;
  }

  .swiper-slide .card .card-content > *{
    font-size: 2em;
  }

  .swiper .swiper-slide .card .card-content h2{
    font-family: "Futura";
    font-size: 3em;
  }
  
  .swiper .swiper-slide .card .card-content p{
    font-family: "FuturaLight";
    font-size: 2.5em;
  }

  
}

