section.top-page {
    height: 100vh;
    padding: 25px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    section.top-page {
      background: url('../images/cover/photographie.jpg') center;
      background-size: cover;
    }
  }
  
  
  @media (min-width: 900px) {
    section.top-page {
      background: url('../images/cover/photographie7.jpg');
      background-size: cover;
    }
    
  }

/* Modele */

.section-photo {
    padding : 5% 0;
}

.section-title{
    padding: 0 5%;
    /* width: 25vw; */
}

.section-title{
    margin : auto;
    font-family: "Futura";
    font-size: 2em;
    padding-bottom: 15px;
    margin-top: 10vh
}

.section-title > div{
    font-family: "Futura";
    font-size: 2em;
}

.swiper-container {
    padding: 0 4%;
    position : relative;
    overflow: hidden;
}

.swiper-container-mashup {
    padding: 0 4%;
    position : relative;
    overflow: hidden;
    margin-bottom: 30vh;
}

swiper-container{
    margin-bottom: 15vh;
}


@media (max-width: 640px) {
    .photo > img{
        width : 100%;
        object-fit: cover;
        height : calc( ( 99vw - 8vw * 0.5 ) /2 );
    }

    .section-title{
        margin-top: 5vh;
    }
}

@media (max-width: 640px) {
    .swiper-container-mashup .photo > img{
        width : 100%;
        object-fit: cover;
        height : calc( ( 99vw - 8vw * 0.5 ) /1 );
    }
}

@media (min-width: 640px) {
    .photo > img{
        width : 100%;
        object-fit: cover;
        height : calc( ( 99vw - 16vw * 0.5 ) /6 );
    }
}

@media (min-width: 640px) {
    .swiper-container-mashup .photo > img{
        width : 100%;
        object-fit: cover;
        height : calc( ( 99vw - 16vw * 0.5 ) /4 );
    }
}

.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    z-index : 10000;
}

.swiper-button-prev {
    left: 0;
}

.thumbTiles .swiper-button-next {
    right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    font-size: 2.4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

/* @media screen and (min-width: 640px) { */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .ombre-noir2:hover .swiper-button-prev::after,
    .ombre-noir1:hover .swiper-button-next::after {
        transform: scale(1.25);
    }
    

    .swiper-container:hover .swiper-button-prev::after,
    .swiper-container:hover .swiper-button-next::after {
        display: block;
    }

    .swiper-container-mashup:hover .swiper-button-prev::after,
    .swiper-container-mashup:hover .swiper-button-next::after {
        display: block;
    }

/* } */

.ombre-noir1:hover, .ombre-noir2:hover {
    background-color: rgba(20, 20, 20, 0.8);
}

.ombre-noir1{
    cursor : pointer;
    position:absolute;
    display:flex;
    width: calc(4% - 10px);
    z-index : 1;
    height: calc(100% - 5px);
    right : 0;
    top : 0;
    transition: transform 0.1s ease-out;
}

.ombre-noir2{
    cursor : pointer;
    position:absolute;
    display:flex;
    width: calc(4% - 10px);
    z-index : 1;
    height: calc(100% - 5px);
    left : 0;
    top : 0;
    transition: transform 0.1s ease-out;
}

/* Image foreground */

.foreground-content{
    z-index:1000;
    display:none;
    /* padding-top:5vh; */
    /* padding-bottom:5vh; */
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /* overflow:auto; */
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.7)
}

.foreground-div{
    display :flex;
    margin:auto;
    /* background-color: white; */
    height: 100%;
    /* margin:auto; */
    /* background-color:#fff; */
    /* position:relative; */
    /* align-items: center; */
    /* margin:0 10px; */
    /* width:auto!important */
}

.content-animate-zoom {animation:animatezoom 0.6s}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.img-for{
    margin : auto;
    display: block;
    width: auto;
    height : auto;
    max-height: 90vh;
    max-width : 90vw;
}

.button-foreground{
    position:absolute;
    right:0;
    top:0;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:black;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    font-size:24px!important;
}

.button-foreground:hover{
    color:white!important;
    background-color:#f44336!important
}


.button-swipe-left, .button-swipe-right{
    background: none;
    color: #fff;
    border : none;
    font-size: 4vw;
    padding: 1%;
    transition: 0.4s;
    margin-top : auto;
    margin-bottom: auto;
}

.button-swipe-left:hover, .button-swipe-right:hover{
    transform: scale(1.25);
    cursor : pointer;
}

@media (max-width: 640px) {

    .img-for{
        max-height: 90vh;
        max-width : 75vw;
    }

    .button-swipe-left, .button-swipe-right{
        font-size: 12vw;
        padding: 2%;

    }

}
