section.top-page {
    /* background-size: cover; */
    height: 100vh;
    padding: 25px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
  section.top-page {
    background: url('../images/cover/cover-assistant-real-tel.jpg') center;
    background-size: cover;
  }
}


@media (min-width: 900px) {
  section.top-page {
    background: url('../images/cover/cover-assistant-real.jpg') center;
    background-size: cover;
  }
}

/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  /* background: #16384c; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 22vh;
  margin-bottom: 50px;

  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.mySwiper{
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: red; */
}

.swiper-wraper{
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-slide {
  background-position: center;
  width: 27vw;
  height: 27vw;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition : 0.3s ease-in-out;
}

.swiper-slide img {
  object-fit: cover;
  display: block;
  width: 100%;
}

.swiper-slide .card {

  position:relative;
  display: flex;
  width: 100%;
  
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px 15px;
  transition : 0.7s ease-in-out;
  max-height: 27vw;
  transition-delay: 0.2s;
  /* border : 0.5px solid black; */
}

.swiper-slide .active-slide{
  /* background-color: red; */
  max-height: 40vw;
  transition : 0.3s ease-in-out;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

/* .swiper-slide .card:hover{
  max-height: 40vw;
  transition : 0.3s ease-in-out;
  transition-delay: 0s;
} */

/* .swiper-slide:hover{
  width : 30vw;
  max-height: 30vw;
} */

.swiper-slide .card .card-content{
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition : 0.3s ease-in-out;
  transition-delay : 0s;
}

.swiper-slide .active-slide .card-content{
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
  transition : 0.3s ease-in-out;
  transition-delay : 0.3s;
}

.swiper-slide .card .card-content > *{
  font-size: 0.8em;
}

/* .swiper-slide .card:hover .card-content{
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
} */

.swiper-slide .card img{
  /* background-size: cover; */
  width : 100%;
  /* height: 30vw; */
  position : relative;
  z-index : 1;
}

@media (max-width: 950px) {
  .swiper-slide {
    width: 70vw;
    height: 70vw;
  }

  .swiper-slide .card {
    max-height: 60vw;
  }

  .swiper-slide .active-slide{
    max-height: 100vw;
  }

  .swiper-slide .card .card-content > *{
    font-size: 2em;
  }

  
}

