@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@300&display=swap');

section.top-page {
    /* display: flex; */
    background: none;
    /* background: black; */
    height: auto;
    padding: 25px;
    margin-bottom: 0px;
}


body {
    background: url('../images/cover/cover-realisation.jpg') center;
    background-size: cover;
    -webkit-backdrop-filter: blur(2px); 
    backdrop-filter: blur(2px);
  }
  
.background {
  margin: 10vh auto;
  display: flex;
  /* min-height: 80vh; */
}

.contact{
  width: 50%;
  color: white;
  /* background-color: green; */
  padding-left: 2%;
}

.contact h1{
  margin-top : 20%;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 100px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 1500;
  font-style: normal;
}

.contact-form{
  /* z-index: 0; */
  z-index: 0;
  width: 37%;
  margin-right: 3.5%;
  margin-left: 2.5%;
  background-color: rgba(255,255,255,1);
  opacity: 0.85;
  padding: 2%;
  border-radius: 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0px;
  border-bottom: solid #ccc 1px;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Montserrat';
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family: 'Quicksand';
  transition: 0.5s;
}

@media (max-width: 700px) {

  .contact{
    display: none;
  }

  .background{
    margin-top: 50px;
    min-height: 70vh;
  }
  .contact-form {
    width: 100%;
    margin: 0 4%;
    height: 80%;
  }
}
  


input[type=submit]:hover {
  background-color: darkgray;
}

  
  