section.top-page {
    background: url('../images/cover/cover-assistant-real.jpg') center;
    background-size: cover;
    height: 100vh;
    padding: 25px;
    margin-bottom: 50px;
}

/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  background: #16384c;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 80%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.mySwiper{
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: red; */
}

.swiper-wraper{
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-slide {
  background-position: center;
  /* background-size: cover; */
  width: 25vw;
  height: 25vw;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition : 0.3s ease-in-out;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide .card {

  position:relative;
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  padding: 15px 15px;
  transition : 0.3s ease-in-out;
  max-height: 25vw;
}

.swiper-slide .card:hover{
  max-height: 40vw;
}

.swiper-slide:hover{
  width : 30vw;
  max-height: 30vw;
}

.swiper-slide .card .card-content{
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition : 0.3s ease-in-out;
  transition-delay : 0.3s;
}

.swiper-slide .card .card-content > *{
  font-size: 0.8em;
}

.swiper-slide .card:hover .card-content{
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
}

.swiper-slide .card img{
  width : 100%;
  position : relative;
  z-index : 1;
}