section.top-page {
    background: url('../images/cover/a-propos.jpeg') center;
    /* background: black; */
    background-size: cover;
    height: auto;
    /* padding: 25px; */
    margin-bottom: 0px;
}

@media (min-width: 800px){
    section.top-page {
        height: 8vw;
    }
}


@media (max-width: 800px) {
    section.top-page {
        height: 100%;
    }
}

.video-section  *{
    font-family: "Futura";
}

/* .video-section{
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
} */

.video-section .title-video{
    text-align: center;
    font-size: 3.5em;
    margin-top: 25px;
}

.video-section .bar{
    background-color: black;
    height: 1px;
    width: 70%;
    margin: auto;
    margin-top : 10px;
}


.video-container{
    margin-top : 40px;
}

.video-container{
    position: relative;
    width:80%;
    margin-right : auto;
    margin-left: auto;
    height: 80vh;
}

@media (max-width: 1000px) {
    .video-container{
        margin-top : 10px;
        width: 90%;
        height: 30vh;
        z-index: -1;
    }
}
    

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* iframe {
    display: block;
    margin: 0 auto;
 } */

 .video-section .description{
    width: 90%;
    margin : 0 auto;
    margin-top : 20px;
    margin-bottom: 50px;
 }

 .video-section .description p{
    font-size: 0.7em;
    text-align: justify;
    margin-top: 10px;
 }

 @media only screen and (max-width: 600px){
    .video-section{
        min-height: calc(100vh - 50px - 33px - 25px - 4vw - 4vh)
    }
}








  



